# Citi Bike Data 2017

In [1]:
# Dependencies & Setup
import os
import pandas as pd
import numpy as np
from datetime import datetime

In [6]:
# View raw data files to aggregate
os.listdir('Data')

['JC-201701-citibike-tripdata.csv',
 'JC-201702-citibike-tripdata.csv',
 'JC-201703-citibike-tripdata.csv',
 'JC-201704-citibike-tripdata.csv',
 'JC-201705-citibike-tripdata.csv',
 'JC-201706-citibike-tripdata.csv',
 'JC-201707-citibike-tripdata.csv',
 'JC-201708 citibike-tripdata.csv',
 'JC-201709-citibike-tripdata.csv',
 'JC-201710-citibike-tripdata.csv',
 'JC-201711-citibike-tripdata.csv',
 'JC-201712-citibike-tripdata.csv']

In [8]:
# Tableau Public can work with a maximum of only 15,000,000 rows. The total rows for the full year of 
# 2017 is 20,523,930 so only the summer and winter months data will be used
# Read Citi Bike data into Pandas data frames
jan = pd.read_csv('Data/JC-201701-citibike-tripdata.csv/JC-201701-citibike-tripdata.csv')
feb = pd.read_csv('Data/JC-201702-citibike-tripdata.csv/JC-201702-citibike-tripdata.csv')

jun = pd.read_csv('Data/JC-201706-citibike-tripdata.csv/JC-201706-citibike-tripdata.csv')
jul = pd.read_csv('Data/JC-201707-citibike-tripdata.csv/JC-201707-citibike-tripdata.csv')
aug = pd.read_csv('Data/JC-201708 citibike-tripdata.csv/JC-201708 citibike-tripdata.csv')
dec = pd.read_csv('Data/JC-201712-citibike-tripdata.csv/JC-201712-citibike-tripdata.csv')

In [17]:
jan.columns = jun.columns

In [18]:
feb.columns = jun.columns

In [20]:
all_months = pd.concat([jan, feb, jun, jul, aug, dec])
all_months

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717732,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15893,972,2017-12-31 21:54:12,2017-12-31 22:10:25,3191,Union St,40.718211,-74.083639,3186,Grove St PATH,40.719586,-74.043117,29644,Subscriber,1987.0,2
15894,382,2017-12-31 22:10:18,2017-12-31 22:16:41,3280,Astor Place,40.719282,-74.071262,3268,Lafayette Park,40.713464,-74.062859,31799,Subscriber,1994.0,1
15895,93,2017-12-31 22:55:10,2017-12-31 22:56:43,3186,Grove St PATH,40.719586,-74.043117,3185,City Hall,40.717732,-74.043845,31920,Subscriber,1957.0,1
15896,186,2017-12-31 23:20:54,2017-12-31 23:24:00,3270,Jersey & 6th St,40.725289,-74.045572,3211,Newark Ave,40.721525,-74.046305,31925,Subscriber,1964.0,1
15897,422,2017-12-31 23:33:55,2017-12-31 23:40:57,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,31709,Subscriber,1979.0,1

In [26]:
all_months["starttime"] = pd.to_datetime(all_months["starttime"])
all_months["stoptime"] = pd.to_datetime(all_months["stoptime"])

In [30]:
all_months.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                        float64
gender                              int64
dtype: object

In [29]:
all_months.gender.value_counts()

1    103820
2     29738
0     10397
Name: gender, dtype: int64

In [33]:
def to_gender_name(gender):
    if gender == 1:
        return "MALE"
    elif gender == 2:
        return "FEMALE"
    else:
        return "OTHER"

# all_months["gender"].map(lambda gender: "MALE" if gender == 1 else "FEMALE" if gender == 2 else "OTHER")
all_months["gender"] = all_months["gender"].map(to_gender_name)
all_months

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717732,-74.043845,24575,Subscriber,1983.0,MALE
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,MALE
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,MALE
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,MALE
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,MALE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15893,972,2017-12-31 21:54:12,2017-12-31 22:10:25,3191,Union St,40.718211,-74.083639,3186,Grove St PATH,40.719586,-74.043117,29644,Subscriber,1987.0,FEMALE
15894,382,2017-12-31 22:10:18,2017-12-31 22:16:41,3280,Astor Place,40.719282,-74.071262,3268,Lafayette Park,40.713464,-74.062859,31799,Subscriber,1994.0,MALE
15895,93,2017-12-31 22:55:10,2017-12-31 22:56:43,3186,Grove St PATH,40.719586,-74.043117,3185,City Hall,40.717732,-74.043845,31920,Subscriber,1957.0,MALE
15896,186,2017-12-31 23:20:54,2017-12-31 23:24:00,3270,Jersey & 6th St,40.725289,-74.045572,3211,Newark Ave,40.721525,-74.046305,31925,Subscriber,1964.0,MALE
15897,422,2017-12-31 23:33:55,2017-12-31 23:40:57,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,31709,Subscriber,1979.0,MALE

In [35]:
all_months.to_csv("citibike_final.csv", index=False)