# Citi Bike Data 2016 - 2018

In [24]:
# Dependencies & Setup
import pandas as pd
import numpy as np
import datetime as dt

In [37]:
# Files to Load
july2016 = "201607-citibike-tripdata.csv"
july2017 = "201707-citibike-tripdata.csv"
july2018 = "201807-citibike-tripdata.csv"

# Read July 2016, 2017 & 2018 Citi Bike Data Files & Store into Pandas DataFrames
july2016_df = pd.read_csv(july2016, encoding="ISO-8859-1")
july2017_df = pd.read_csv(july2017, encoding="ISO-8859-1")
july2018_df = pd.read_csv(july2018, encoding="ISO-8859-1")

In [41]:
july2018_df["Start Time"]

0        08:39.9
1        09:07.5
2        14:45.7
3        25:12.4
4        07:44.1
          ...
42263    51:08.1
42264    15:37.0
42265    45:01.5
42266    06:19.6
42267    06:02.3
Name: Start Time, Length: 42268, dtype: object

In [36]:
combined_july_df = pd.concat([july2016_df, july2017_df, july2018_df])
combined_july_df

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,964,1/07/2016 0:06,1/07/2016 0:22,3185,City Hall,40.717732,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,24706,Subscriber,1987.0,1
1,472,1/07/2016 0:06,1/07/2016 0:14,3185,City Hall,40.717732,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,24504,Subscriber,1981.0,2
2,565,1/07/2016 0:10,1/07/2016 0:20,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,24655,Subscriber,1990.0,1
3,413,1/07/2016 0:17,1/07/2016 0:24,3195,Sip Ave,40.730743,-74.063784,3209,Brunswick St,40.724176,-74.050656,24446,Subscriber,1983.0,1
4,436,1/07/2016 0:37,1/07/2016 0:44,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24408,Subscriber,1988.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42263,993,51:08.1,07:41.6,3694,Jackson Square,40.711130,-74.078900,3211,Newark Ave,40.721525,-74.046305,26299,Subscriber,1991.0,2
42264,311,15:37.0,20:48.1,3694,Jackson Square,40.711130,-74.078900,3694,Jackson Square,40.711130,-74.078900,26201,Customer,1969.0,0
42265,795,45:01.5,58:16.6,3694,Jackson Square,40.711130,-74.078900,3225,Baldwin at Montgomery,40.723659,-74.064194,26225,Subscriber,1961.0,1
42266,918,06:19.6,21:38.0,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,26187,Subscriber,1986.0,2
42267,1956,06:02.3,38:39.0,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26201,Subscriber,1982.0,2

In [42]:
combined_july_df.drop(columns=["Start Time", "Stop Time"], inplace=True)

In [43]:
combined_july_df

,Trip Duration,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,964,3185,City Hall,40.717732,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,24706,Subscriber,1987.0,1
1,472,3185,City Hall,40.717732,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,24504,Subscriber,1981.0,2
2,565,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,24655,Subscriber,1990.0,1
3,413,3195,Sip Ave,40.730743,-74.063784,3209,Brunswick St,40.724176,-74.050656,24446,Subscriber,1983.0,1
4,436,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24408,Subscriber,1988.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42263,993,3694,Jackson Square,40.711130,-74.078900,3211,Newark Ave,40.721525,-74.046305,26299,Subscriber,1991.0,2
42264,311,3694,Jackson Square,40.711130,-74.078900,3694,Jackson Square,40.711130,-74.078900,26201,Customer,1969.0,0
42265,795,3694,Jackson Square,40.711130,-74.078900,3225,Baldwin at Montgomery,40.723659,-74.064194,26225,Subscriber,1961.0,1
42266,918,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,26187,Subscriber,1986.0,2
42267,1956,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26201,Subscriber,1982.0,2

In [44]:
combined_july_df["User Type"].value_counts()

Subscriber    91897
Customer       8374
Name: User Type, dtype: int64

In [28]:
# Combine All Three July DataFrames from 2016-2018 Into Single DataFrame
# combined_july_df = july2016_df.append([july2017_df, july2018_df], ignore_index=True)
# combined_july_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,964,1/07/2016 0:06,1/07/2016 0:22,3185,City Hall,40.717732,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,24706,Subscriber,1987.0,1
1,472,1/07/2016 0:06,1/07/2016 0:14,3185,City Hall,40.717732,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,24504,Subscriber,1981.0,2
2,565,1/07/2016 0:10,1/07/2016 0:20,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,24655,Subscriber,1990.0,1
3,413,1/07/2016 0:17,1/07/2016 0:24,3195,Sip Ave,40.730743,-74.063784,3209,Brunswick St,40.724176,-74.050656,24446,Subscriber,1983.0,1
4,436,1/07/2016 0:37,1/07/2016 0:44,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24408,Subscriber,1988.0,2

In [9]:
# Rename Columns
# combined_july_df = combined_july_df.rename(columns={"tripduration": "Trip Duration",
#                                             "starttime": "Start Time",
#                                             "stoptime": "Stop Time",
#                                             "start station id": "Start Station ID",
#                                             "start station name": "Start Station Name",
#                                             "start station latitude": "Start Station Latitude",
#                                             "start station longitude": "Start Station Longitude",
#                                             "end station id": "End Station ID",
#                                             "end station name": "End Station Name",
#                                             "end station latitude": "End Station Latitude",
#                                             "end station longitude": "End Station Longitude",
#                                             "bikeid": "Bike ID",
#                                             "usertype": "User Type",
#                                             "birth year": "Birth Year",
#                                             "gender": "Gender"
#                                            })
# combined_july_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,...,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,964.0,2016-07-01 00:06:09,2016-07-01 00:22:14,3185.0,City Hall,40.717732,-74.043845,3199.0,Newport Pkwy,40.728745,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,472.0,2016-07-01 00:06:44,2016-07-01 00:14:37,3185.0,City Hall,40.717732,-74.043845,3192.0,Liberty Light Rail,40.711242,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,565.0,2016-07-01 00:10:39,2016-07-01 00:20:05,3199.0,Newport Pkwy,40.728745,-74.032108,3199.0,Newport Pkwy,40.728745,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,413.0,2016-07-01 00:17:22,2016-07-01 00:24:15,3195.0,Sip Ave,40.730743,-74.063784,3209.0,Brunswick St,40.724176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,436.0,2016-07-01 00:37:31,2016-07-01 00:44:48,3202.0,Newport PATH,40.727224,-74.033759,3203.0,Hamilton Park,40.727596,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# Convert All DateTimes to "%Y-%m-%d %H:%M:%S" Format
# combined_july_df["Start Time"] = pd.to_datetime(combined_july_df["Start Time"])
# combined_july_df["Stop Time"] = pd.to_datetime(combined_july_df["Stop Time"])
# combined_july_df.head()

ParserError: hour must be in 0..23: 25:12.4

In [35]:
# combined_july_df["Start Time"]

0        1/07/2016 0:06
1        1/07/2016 0:06
2        1/07/2016 0:10
3        1/07/2016 0:17
4        1/07/2016 0:37
              ...
42263           51:08.1
42264           15:37.0
42265           45:01.5
42266           06:19.6
42267           06:02.3
Name: Start Time, Length: 100277, dtype: object

In [45]:
combined_july_df.dtypes

Trip Duration                int64
Start Station ID             int64
Start Station Name          object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID               int64
End Station Name            object
End Station Latitude       float64
End Station Longitude      float64
Bike ID                      int64
User Type                   object
Birth Year                 float64
Gender                       int64
dtype: object

In [47]:
# Save Combined DataFrames to CSV
combined_july_df.to_csv("three-year-july-citibike-tripdata.csv", index=False, header=True)